<!DOCTYPE html>
<html dir="ltr" lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="refresh" content="5">
	<title>Siguit</title>
	<link rel="icon" href="img/favicon.png?v=0.1" sizes="32x32" type="image/png">
	<link rel="stylesheet" href="/templates/messages/css/LatoFont">
	<link rel="stylesheet" href="/templates/messages/css/styles.css?v=0.1">
	<!-- <script defer src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script> -->
	<script defer src="/templates/messages/js/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<!-- <script defer src="js/libraries/svg4everybody.min.js"></script> -->
	<!-- <script defer src="js/constant.js?v0.1"></script> -->
	<style>
		.dark {
			padding: 0;
		}
		.dark main {
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
			justify-content: center;
			min-height: 100vh;
			padding: 4.8rem;
			text-align: center;
		}
		p {
			color: white;
			font-size: 4.8rem;
			line-height: 1.2;
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}
	</style>
</head>
<body class="dark">
	<main>
		<p><TMPL_VAR NAME=message></p>
	</main>
</body>
</html>
