/*!
	ALFA v2.10.0
	https://github.com/FAAREIA/ALFA
	- - - - - - - - - - - - - - - -
	Compiled with SASS v3.5.1
	CSS file v1.0
*/
html, body,
header, footer, section, article, aside, nav,
h1, h2, h3, h4, h5, h6,
p, a, span, small, address, time, abbr, blockquote, q, cite,
figure, img,
div, ol, ul, li, dl, dt, dd,
form, fieldset, legend, label, input, select, option, textarea, button,
tr, th, td,
progress, iframe {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: top; }

a {
  outline: 0;
  text-decoration: none; }

small {
  font-size: inherit; }

q::before,
q::after {
  content: none; }

cite {
  font-style: normal; }

ol,
ul {
  list-style: none; }

input:focus,
select:focus,
textarea:focus {
  outline: 0; }

input[type="reset"],
input[type="submit"],
button {
  cursor: pointer; }

button {
  background: none;
  outline: 0; }

table {
  border-collapse: collapse; }

@media (min-width: 20em) {
  .column,
  .columns [class*="col-"] {
    padding-left: 0.6rem;
    padding-right: 0.6rem; }

  .columns {
    margin-left: -0.6rem;
    margin-right: -0.6rem; }

  [class*="col-xxs-"] {
    display: inline-block; }

  .col-xxs-pull-0,
  .col-xxs-push-0 {
    left: auto; }

  .col-xxs-1 {
    width: 8.3333333333%; }

  .col-xxs-pull-1 {
    left: -8.3333333333%; }

  .col-xxs-push-1 {
    left: 8.3333333333%; }

  .col-xxs-2 {
    width: 16.6666666667%; }

  .col-xxs-pull-2 {
    left: -16.6666666667%; }

  .col-xxs-push-2 {
    left: 16.6666666667%; }

  .col-xxs-3 {
    width: 25%; }

  .col-xxs-pull-3 {
    left: -25%; }

  .col-xxs-push-3 {
    left: 25%; }

  .col-xxs-4 {
    width: 33.3333333333%; }

  .col-xxs-pull-4 {
    left: -33.3333333333%; }

  .col-xxs-push-4 {
    left: 33.3333333333%; }

  .col-xxs-5 {
    width: 41.6666666667%; }

  .col-xxs-pull-5 {
    left: -41.6666666667%; }

  .col-xxs-push-5 {
    left: 41.6666666667%; }

  .col-xxs-6 {
    width: 50%; }

  .col-xxs-pull-6 {
    left: -50%; }

  .col-xxs-push-6 {
    left: 50%; }

  .col-xxs-7 {
    width: 58.3333333333%; }

  .col-xxs-pull-7 {
    left: -58.3333333333%; }

  .col-xxs-push-7 {
    left: 58.3333333333%; }

  .col-xxs-8 {
    width: 66.6666666667%; }

  .col-xxs-pull-8 {
    left: -66.6666666667%; }

  .col-xxs-push-8 {
    left: 66.6666666667%; }

  .col-xxs-9 {
    width: 75%; }

  .col-xxs-pull-9 {
    left: -75%; }

  .col-xxs-push-9 {
    left: 75%; }

  .col-xxs-10 {
    width: 83.3333333333%; }

  .col-xxs-pull-10 {
    left: -83.3333333333%; }

  .col-xxs-push-10 {
    left: 83.3333333333%; }

  .col-xxs-11 {
    width: 91.6666666667%; }

  .col-xxs-pull-11 {
    left: -91.6666666667%; }

  .col-xxs-push-11 {
    left: 91.6666666667%; }

  .col-xxs-12 {
    width: 100%; }

  .col-xxs-pull-12 {
    left: -100%; }

  .col-xxs-push-12 {
    left: 100%; } }
@media (min-width: 30em) {
  [class*="col-xs-"] {
    display: inline-block; }

  .col-xs-pull-0,
  .col-xs-push-0 {
    left: auto; }

  .col-xs-1 {
    width: 8.3333333333%; }

  .col-xs-pull-1 {
    left: -8.3333333333%; }

  .col-xs-push-1 {
    left: 8.3333333333%; }

  .col-xs-2 {
    width: 16.6666666667%; }

  .col-xs-pull-2 {
    left: -16.6666666667%; }

  .col-xs-push-2 {
    left: 16.6666666667%; }

  .col-xs-3 {
    width: 25%; }

  .col-xs-pull-3 {
    left: -25%; }

  .col-xs-push-3 {
    left: 25%; }

  .col-xs-4 {
    width: 33.3333333333%; }

  .col-xs-pull-4 {
    left: -33.3333333333%; }

  .col-xs-push-4 {
    left: 33.3333333333%; }

  .col-xs-5 {
    width: 41.6666666667%; }

  .col-xs-pull-5 {
    left: -41.6666666667%; }

  .col-xs-push-5 {
    left: 41.6666666667%; }

  .col-xs-6 {
    width: 50%; }

  .col-xs-pull-6 {
    left: -50%; }

  .col-xs-push-6 {
    left: 50%; }

  .col-xs-7 {
    width: 58.3333333333%; }

  .col-xs-pull-7 {
    left: -58.3333333333%; }

  .col-xs-push-7 {
    left: 58.3333333333%; }

  .col-xs-8 {
    width: 66.6666666667%; }

  .col-xs-pull-8 {
    left: -66.6666666667%; }

  .col-xs-push-8 {
    left: 66.6666666667%; }

  .col-xs-9 {
    width: 75%; }

  .col-xs-pull-9 {
    left: -75%; }

  .col-xs-push-9 {
    left: 75%; }

  .col-xs-10 {
    width: 83.3333333333%; }

  .col-xs-pull-10 {
    left: -83.3333333333%; }

  .col-xs-push-10 {
    left: 83.3333333333%; }

  .col-xs-11 {
    width: 91.6666666667%; }

  .col-xs-pull-11 {
    left: -91.6666666667%; }

  .col-xs-push-11 {
    left: 91.6666666667%; }

  .col-xs-12 {
    width: 100%; }

  .col-xs-pull-12 {
    left: -100%; }

  .col-xs-push-12 {
    left: 100%; } }
@media (min-width: 40em) {
  [class*="col-s-"] {
    display: inline-block; }

  .col-s-pull-0,
  .col-s-push-0 {
    left: auto; }

  .col-s-1 {
    width: 8.3333333333%; }

  .col-s-pull-1 {
    left: -8.3333333333%; }

  .col-s-push-1 {
    left: 8.3333333333%; }

  .col-s-2 {
    width: 16.6666666667%; }

  .col-s-pull-2 {
    left: -16.6666666667%; }

  .col-s-push-2 {
    left: 16.6666666667%; }

  .col-s-3 {
    width: 25%; }

  .col-s-pull-3 {
    left: -25%; }

  .col-s-push-3 {
    left: 25%; }

  .col-s-4 {
    width: 33.3333333333%; }

  .col-s-pull-4 {
    left: -33.3333333333%; }

  .col-s-push-4 {
    left: 33.3333333333%; }

  .col-s-5 {
    width: 41.6666666667%; }

  .col-s-pull-5 {
    left: -41.6666666667%; }

  .col-s-push-5 {
    left: 41.6666666667%; }

  .col-s-6 {
    width: 50%; }

  .col-s-pull-6 {
    left: -50%; }

  .col-s-push-6 {
    left: 50%; }

  .col-s-7 {
    width: 58.3333333333%; }

  .col-s-pull-7 {
    left: -58.3333333333%; }

  .col-s-push-7 {
    left: 58.3333333333%; }

  .col-s-8 {
    width: 66.6666666667%; }

  .col-s-pull-8 {
    left: -66.6666666667%; }

  .col-s-push-8 {
    left: 66.6666666667%; }

  .col-s-9 {
    width: 75%; }

  .col-s-pull-9 {
    left: -75%; }

  .col-s-push-9 {
    left: 75%; }

  .col-s-10 {
    width: 83.3333333333%; }

  .col-s-pull-10 {
    left: -83.3333333333%; }

  .col-s-push-10 {
    left: 83.3333333333%; }

  .col-s-11 {
    width: 91.6666666667%; }

  .col-s-pull-11 {
    left: -91.6666666667%; }

  .col-s-push-11 {
    left: 91.6666666667%; }

  .col-s-12 {
    width: 100%; }

  .col-s-pull-12 {
    left: -100%; }

  .col-s-push-12 {
    left: 100%; } }
@media (min-width: 48em) {
  .column,
  .columns [class*="col-"] {
    padding-left: 1.2rem;
    padding-right: 1.2rem; }

  .columns {
    margin-left: -1.2rem;
    margin-right: -1.2rem; }

  [class*="col-m-"] {
    display: inline-block; }

  .col-m-pull-0,
  .col-m-push-0 {
    left: auto; }

  .col-m-1 {
    width: 8.3333333333%; }

  .col-m-pull-1 {
    left: -8.3333333333%; }

  .col-m-push-1 {
    left: 8.3333333333%; }

  .col-m-2 {
    width: 16.6666666667%; }

  .col-m-pull-2 {
    left: -16.6666666667%; }

  .col-m-push-2 {
    left: 16.6666666667%; }

  .col-m-3 {
    width: 25%; }

  .col-m-pull-3 {
    left: -25%; }

  .col-m-push-3 {
    left: 25%; }

  .col-m-4 {
    width: 33.3333333333%; }

  .col-m-pull-4 {
    left: -33.3333333333%; }

  .col-m-push-4 {
    left: 33.3333333333%; }

  .col-m-5 {
    width: 41.6666666667%; }

  .col-m-pull-5 {
    left: -41.6666666667%; }

  .col-m-push-5 {
    left: 41.6666666667%; }

  .col-m-6 {
    width: 50%; }

  .col-m-pull-6 {
    left: -50%; }

  .col-m-push-6 {
    left: 50%; }

  .col-m-7 {
    width: 58.3333333333%; }

  .col-m-pull-7 {
    left: -58.3333333333%; }

  .col-m-push-7 {
    left: 58.3333333333%; }

  .col-m-8 {
    width: 66.6666666667%; }

  .col-m-pull-8 {
    left: -66.6666666667%; }

  .col-m-push-8 {
    left: 66.6666666667%; }

  .col-m-9 {
    width: 75%; }

  .col-m-pull-9 {
    left: -75%; }

  .col-m-push-9 {
    left: 75%; }

  .col-m-10 {
    width: 83.3333333333%; }

  .col-m-pull-10 {
    left: -83.3333333333%; }

  .col-m-push-10 {
    left: 83.3333333333%; }

  .col-m-11 {
    width: 91.6666666667%; }

  .col-m-pull-11 {
    left: -91.6666666667%; }

  .col-m-push-11 {
    left: 91.6666666667%; }

  .col-m-12 {
    width: 100%; }

  .col-m-pull-12 {
    left: -100%; }

  .col-m-push-12 {
    left: 100%; } }
@media (min-width: 62em) {
  [class*="col-l-"] {
    display: inline-block; }

  .col-l-pull-0,
  .col-l-push-0 {
    left: auto; }

  .col-l-1 {
    width: 8.3333333333%; }

  .col-l-pull-1 {
    left: -8.3333333333%; }

  .col-l-push-1 {
    left: 8.3333333333%; }

  .col-l-2 {
    width: 16.6666666667%; }

  .col-l-pull-2 {
    left: -16.6666666667%; }

  .col-l-push-2 {
    left: 16.6666666667%; }

  .col-l-3 {
    width: 25%; }

  .col-l-pull-3 {
    left: -25%; }

  .col-l-push-3 {
    left: 25%; }

  .col-l-4 {
    width: 33.3333333333%; }

  .col-l-pull-4 {
    left: -33.3333333333%; }

  .col-l-push-4 {
    left: 33.3333333333%; }

  .col-l-5 {
    width: 41.6666666667%; }

  .col-l-pull-5 {
    left: -41.6666666667%; }

  .col-l-push-5 {
    left: 41.6666666667%; }

  .col-l-6 {
    width: 50%; }

  .col-l-pull-6 {
    left: -50%; }

  .col-l-push-6 {
    left: 50%; }

  .col-l-7 {
    width: 58.3333333333%; }

  .col-l-pull-7 {
    left: -58.3333333333%; }

  .col-l-push-7 {
    left: 58.3333333333%; }

  .col-l-8 {
    width: 66.6666666667%; }

  .col-l-pull-8 {
    left: -66.6666666667%; }

  .col-l-push-8 {
    left: 66.6666666667%; }

  .col-l-9 {
    width: 75%; }

  .col-l-pull-9 {
    left: -75%; }

  .col-l-push-9 {
    left: 75%; }

  .col-l-10 {
    width: 83.3333333333%; }

  .col-l-pull-10 {
    left: -83.3333333333%; }

  .col-l-push-10 {
    left: 83.3333333333%; }

  .col-l-11 {
    width: 91.6666666667%; }

  .col-l-pull-11 {
    left: -91.6666666667%; }

  .col-l-push-11 {
    left: 91.6666666667%; }

  .col-l-12 {
    width: 100%; }

  .col-l-pull-12 {
    left: -100%; }

  .col-l-push-12 {
    left: 100%; } }
@media (min-width: 75em) {
  [class*="col-xl-"] {
    display: inline-block; }

  .col-xl-pull-0,
  .col-xl-push-0 {
    left: auto; }

  .col-xl-1 {
    width: 8.3333333333%; }

  .col-xl-pull-1 {
    left: -8.3333333333%; }

  .col-xl-push-1 {
    left: 8.3333333333%; }

  .col-xl-2 {
    width: 16.6666666667%; }

  .col-xl-pull-2 {
    left: -16.6666666667%; }

  .col-xl-push-2 {
    left: 16.6666666667%; }

  .col-xl-3 {
    width: 25%; }

  .col-xl-pull-3 {
    left: -25%; }

  .col-xl-push-3 {
    left: 25%; }

  .col-xl-4 {
    width: 33.3333333333%; }

  .col-xl-pull-4 {
    left: -33.3333333333%; }

  .col-xl-push-4 {
    left: 33.3333333333%; }

  .col-xl-5 {
    width: 41.6666666667%; }

  .col-xl-pull-5 {
    left: -41.6666666667%; }

  .col-xl-push-5 {
    left: 41.6666666667%; }

  .col-xl-6 {
    width: 50%; }

  .col-xl-pull-6 {
    left: -50%; }

  .col-xl-push-6 {
    left: 50%; }

  .col-xl-7 {
    width: 58.3333333333%; }

  .col-xl-pull-7 {
    left: -58.3333333333%; }

  .col-xl-push-7 {
    left: 58.3333333333%; }

  .col-xl-8 {
    width: 66.6666666667%; }

  .col-xl-pull-8 {
    left: -66.6666666667%; }

  .col-xl-push-8 {
    left: 66.6666666667%; }

  .col-xl-9 {
    width: 75%; }

  .col-xl-pull-9 {
    left: -75%; }

  .col-xl-push-9 {
    left: 75%; }

  .col-xl-10 {
    width: 83.3333333333%; }

  .col-xl-pull-10 {
    left: -83.3333333333%; }

  .col-xl-push-10 {
    left: 83.3333333333%; }

  .col-xl-11 {
    width: 91.6666666667%; }

  .col-xl-pull-11 {
    left: -91.6666666667%; }

  .col-xl-push-11 {
    left: 91.6666666667%; }

  .col-xl-12 {
    width: 100%; }

  .col-xl-pull-12 {
    left: -100%; }

  .col-xl-push-12 {
    left: 100%; } }
:root {
  font-size: 62.5%; }

.dark {
  background: #2A2C2E;
  padding-bottom: 4.8rem; }
  .dark main {
    padding: 5.4rem 0 0; }
  .dark .steps {
    margin-bottom: 1.5rem; }

.light .header {
  background: #2A2C2E; }
.light .steps {
  margin-bottom: 1.5rem; }

.vertical-align {
  align-items: center;
  display: flex;
  min-height: 100vh; }

.content {
  max-width: 91.2rem;
  padding: 3.2rem 1.2rem 9.6rem; }
  .content.form {
    padding-top: 5.4rem; }
  .content.single-column {
    max-width: 45.6rem; }

.column {
  margin: 0 auto;
  max-width: 110.4rem; }

[class*="col-"] {
  box-sizing: border-box; }

[class*="-pull-"],
[class*="-push-"] {
  position: relative; }

@media (max-width: 86.875em) {
  .light .header {
    padding: 5.4rem 1.2rem 1.5rem;
    text-align: center; }

  .content {
    margin: 0 auto;
    padding-bottom: 4.8rem; } }
@media (min-width: 87em) {
  .dark {
    padding-bottom: 9.6rem; }
    .dark main {
      padding-top: 7.8rem; }

  .light section {
    padding-left: 51.6rem; }
  .light .header {
    align-content: center;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    left: 0;
    padding-right: 4.8rem;
    position: fixed;
    text-align: right;
    top: 0;
    width: 43.2rem; }
  .light .steps,
  .light h2 {
    width: 100%; } }
::selection {
  background: black;
  color: white; }

body,
input, select, textarea, button {
  color: #3A3C3E;
  font-family: Lato, sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem; }

h1, h2, h3, h4, h5, h6,
dt,
legend,
th {
  color: #F4516C;
  font-family: Bitter, sans-serif;
  font-weight: 400;
  text-transform: uppercase; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
  dt a,
  legend a,
  th a {
    color: inherit; }
    h1 a:focus, h1 a:hover, h2 a:focus, h2 a:hover, h3 a:focus, h3 a:hover, h4 a:focus, h4 a:hover, h5 a:focus, h5 a:hover, h6 a:focus, h6 a:hover,
    dt a:focus,
    dt a:hover,
    legend a:focus,
    legend a:hover,
    th a:focus,
    th a:hover {
      color: #F4516C; }

h1, h2, h3, h4, h5, h6,
p, a, span,
img, svg,
div, ol, ul, li, dl, dt, dd,
form, label, input, select, option, textarea, button,
th, td,
progress {
  transition-duration: 0.2s; }

.h1,
h1 {
  font-size: 4rem;
  line-height: 1.2; }
  .h1 + .h2,
  .h1 + h2,
  h1 + .h2,
  h1 + h2 {
    margin-top: 0rem; }
  .h1 + p,
  .h1 + ol,
  .h1 + ul,
  .h1 + dl,
  h1 + p,
  h1 + ol,
  h1 + ul,
  h1 + dl {
    margin-top: 0rem; }

.h2,
h2 {
  font-size: 6rem;
  line-height: 1; }
  .h2 + .h3,
  .h2 + h3,
  h2 + .h3,
  h2 + h3 {
    margin-top: 0rem; }
  .h2 + p,
  .h2 + ol,
  .h2 + ul,
  .h2 + dl,
  h2 + p,
  h2 + ol,
  h2 + ul,
  h2 + dl {
    margin-top: 0rem; }
  p + .h2, ol + .h2, ul + .h2, dl + .h2, p +
  h2, ol +
  h2, ul +
  h2, dl +
  h2 {
    margin-top: 0rem; }

.h3,
h3 {
  font-size: 2.1rem;
  line-height: 1.1428571429; }
  .h3 + .h4,
  .h3 + h4,
  h3 + .h4,
  h3 + h4 {
    margin-top: 0rem; }
  .h3 + p,
  .h3 + ol,
  .h3 + ul,
  .h3 + dl,
  h3 + p,
  h3 + ol,
  h3 + ul,
  h3 + dl {
    margin-top: 0rem; }
  p + .h3, ol + .h3, ul + .h3, dl + .h3, p +
  h3, ol +
  h3, ul +
  h3, dl +
  h3 {
    margin-top: 0rem; }

p + p,
p + ol,
p + ul,
p + dl,
p + form {
  margin-top: 0rem; }
ol + p, ul + p, dl + p {
  margin-top: 0rem; }

a {
  color: #F4516C;
  fill: inherit; }
  a:focus, a:hover {
    color: black; }

@media (max-width: 61.875em) {
  .h2,
  h2 {
    font-size: 4.8rem; } }
@media (max-width: 29.875em) {
  .h2,
  h2 {
    font-size: 3.6rem; } }
.alert {
  box-sizing: border-box;
  display: none;
  padding: 0rem;
  position: relative; }
  .alert.error {
    background: #FA4242;
    color: white;
    fill: white; }
    .alert.error .close:focus, .alert.error .close:hover {
      fill: black; }
  .alert.success {
    background: #40D784;
    color: white;
    fill: white; }
    .alert.success .close:focus, .alert.success .close:hover {
      fill: black; }
  .alert.warning {
    background: #FFCC33;
    color: #3A3C3E;
    fill: #3A3C3E; }
    .alert.warning .close:focus, .alert.warning .close:hover {
      fill: white; }
  .alert.fixed {
    box-shadow: 0 0 0rem black;
    left: 50%;
    max-width: 34.8rem;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 1.2rem);
    z-index: 411; }
  .alert h2, .alert h3, .alert h4 {
    color: inherit; }
  .alert .close {
    height: 2.4rem;
    width: 2.4rem; }
    .alert .close svg {
      width: 1rem; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes rotando {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
.fullscreen {
  text-align: center; }

.steps {
  color: #8A8C8E;
  display: block;
  font: 700 1.4rem/1.7142857143 Bitter, sans-serif;
  text-transform: uppercase; }

.button {
  background: #F4516C;
  border-radius: 2.4rem;
  color: white;
  cursor: pointer;
  font: 700 1.6rem/3 Bitter, sans-serif;
  letter-spacing: 0.25rem;
  padding: 0 4.8rem;
  text-transform: uppercase;
  white-space: nowrap; }
  .button.inactive {
    background: #AAACAE; }
    .button.inactive:focus, .button.inactive:hover {
      background: #F4516C; }
  .button.tiny {
    border-radius: 1.8rem;
    font-size: 1.2rem;
    line-height: 3;
    padding: 0 1.2rem; }

.close {
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0; }
  .close svg {
    pointer-events: none; }

@media (max-width: 39.875em) {
  .button {
    letter-spacing: 0.1rem;
    padding: 0 3rem; } }
@media (max-width: 29.875em) {
  .button {
    padding: 0 1.8rem; } }
form.extra-separation div {
  margin-top: 6.6rem; }
form.extra-separation .columns,
form.extra-separation .no-margin {
  margin-top: 0; }
form.extra-separation .actions {
  margin-top: 4.8rem; }
  form.extra-separation .actions.pre-description {
    margin-top: 7.2rem; }
form .actions {
  text-align: right; }
  form .actions .button + .button {
    margin-left: 2.4rem; }
form .columns {
  margin-top: 0; }
form .description {
  color: #8A8C8E;
  font-size: 1.4rem;
  position: absolute;
  top: 100%; }
form .no-margin {
  margin-top: 0; }
form div {
  margin-top: 2.4rem;
  position: relative; }

legend,
label {
  color: #716ACA;
  display: block;
  font-weight: 900;
  margin-bottom: 0.6rem;
  text-transform: uppercase; }

legend {
  font-family: Lato, sans-serif; }

label {
  cursor: pointer; }
  label.disabled {
    cursor: not-allowed; }
  label.checkbox, label.radio {
    color: #3A3C3E;
    font-weight: 400;
    margin: 1.2rem 0 0;
    text-transform: none; }
    label.checkbox input, label.radio input {
      display: none; }
    label.checkbox span, label.radio span {
      color: #6A6C6E;
      display: block;
      padding: 0 0 0 2.4rem;
      position: relative; }
      label.checkbox span::before, label.radio span::before {
        border: 0.3rem solid #AAACAE;
        box-sizing: border-box;
        content: "";
        height: 1.6rem;
        left: 0;
        position: absolute;
        top: 0.5rem;
        transition-duration: 0.2s;
        width: 1.6rem; }
  label.checkbox span::before {
    border-radius: 0.4rem; }
  label.radio span::before {
    border-radius: 100%; }

label input:checked + span,
input:checked + label span {
  color: #3A3C3E; }
  label input:checked + span::before,
  input:checked + label span::before {
    border-color: #F4516C;
    border-width: 0.6rem; }

.form-control {
  background: #EAECEE;
  border-radius: 0.6rem;
  box-sizing: border-box;
  color: #3A3C3E;
  height: 4.8rem;
  line-height: 4.8rem;
  padding: 0 1.2rem;
  width: 100%; }
  .form-control.hightlight {
    background: none;
    border-radius: 0;
    border-bottom: 0.3rem solid #EAECEE;
    font-size: 3rem;
    padding: 0; }
    .form-control.hightlight:focus, .form-control.hightlight:focus-within {
      background: none;
      border-bottom-color: #AAACAE;
      color: #6A6C6E; }
      .form-control.hightlight:focus::placeholder, .form-control.hightlight:focus-within::placeholder {
        color: #BABCBE; }
    .form-control.hightlight::placeholder {
      color: #DADCDE; }
  .form-control:disabled {
    cursor: not-allowed; }
  .form-control:focus, .form-control:focus-within {
    background: #6A6C6E;
    color: white; }
    .form-control:focus::placeholder, .form-control:focus-within::placeholder {
      color: #BABCBE; }
  .form-control::placeholder {
    color: #6A6C6E; }

.form-control.input-file {
  margin: 0;
  overflow: hidden;
  padding-right: 0rem;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap; }
  .form-control.input-file.alternative {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 0;
    padding-top: 56.25%; }
    .form-control.input-file.alternative.con-fondo p {
      display: none; }
    .form-control.input-file.alternative:focus-within::before {
      background: #6A6C6E;
      color: white; }
    .form-control.input-file.alternative:focus-within p {
      color: #AAACAE; }
      .form-control.input-file.alternative:focus-within p span {
        color: white; }
    .form-control.input-file.alternative::before {
      content: none; }
    .form-control.input-file.alternative::after {
      background: rgba(0, 0, 0, 0.5);
      border-bottom-left-radius: 0.4rem;
      border-bottom-right-radius: 0.4rem;
      box-sizing: border-box;
      color: white;
      font-size: 1.1rem;
      left: 50%;
      line-height: 2.4rem;
      max-width: 90%;
      overflow: hidden;
      padding: 0 0.8rem;
      position: absolute;
      text-overflow: ellipsis;
      top: 0;
      transform: translateX(-50%);
      white-space: nowrap; }
    .form-control.input-file.alternative p {
      left: 1.2rem;
      line-height: 1.8rem;
      pointer-events: none;
      position: absolute;
      right: 1.2rem;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
      white-space: normal; }
    .form-control.input-file.alternative span {
      color: #3A3C3E;
      display: block;
      font-size: 1.8rem;
      line-height: 2.4rem;
      margin-bottom: 1rem; }
    .form-control.input-file.alternative input {
      height: 100%;
      top: 0; }
  .form-control.input-file:focus-within::before, .form-control.input-file:hover::before {
    background: #6A6C6E;
    color: white; }
  .form-control.input-file::before {
    background: #9998AB;
    color: white;
    content: "EXAMINAR...";
    font-size: 1.2rem;
    padding: 0 1.8rem;
    position: absolute;
    right: 0;
    top: 0;
    transition-duration: 0.2s; }
  .form-control.input-file::after {
    content: attr(data-file); }
  .form-control.input-file input {
    cursor: pointer;
    left: 0;
    opacity: 0;
    position: absolute; }

.check-radio-inline {
  margin: 0 -1.8rem; }
  .check-radio-inline fieldset {
    padding: 0 1.8rem; }
  .check-radio-inline .checkbox,
  .check-radio-inline .radio {
    display: inline-block;
    padding: 0 1.8rem; }

input[type="checkbox"]:enabled, input[type="radio"]:enabled {
  cursor: pointer; }

option {
  padding: inherit; }

textarea {
  resize: vertical; }
  textarea.form-control {
    height: 19.2rem;
    line-height: 2.4rem;
    padding-top: 1.2rem; }

[placeholder]::-moz-placeholder {
  opacity: 1; }

@media (max-width: 29.875em) {
  form .actions .button + .button {
    margin-left: 1.2rem; } }
@keyframes spin {
  100% {
    transform: rotate(360deg); } }
.loading-full {
  background: rgba(255, 255, 255, 0.5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0; }
  .loading-full .container {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%); }
  .loading-full .loading {
    display: block;
    left: auto;
    margin: 0 auto 0.6rem;
    position: relative;
    top: auto;
    transform: none; }

.loading {
  border-radius: 100%;
  border: 0.6rem solid rgba(0, 0, 0, 0.25);
  height: 3.6rem;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 211;
  width: 3.6rem; }

.loading::after {
  animation: spin 1s linear infinite;
  border-color: transparent;
  border-radius: inherit;
  border-style: inherit;
  border-top-color: #F4516C;
  border-width: inherit;
  bottom: -0.6rem;
  content: "";
  left: -0.6rem;
  position: absolute;
  right: -0.6rem;
  top: -0.6rem; }

.logotype {
  line-height: 0; }

@media (max-width: 86.875em) {
  .logotype {
    left: 50%;
    margin: 0 auto;
    position: absolute;
    top: 1.6rem;
    transform: translateX(-50%);
    width: 9.6rem; } }
@media (min-width: 87em) {
  .logotype {
    bottom: 3.6rem;
    position: fixed;
    right: 4.6rem;
    width: 18rem; } }
.modal {
  background: rgba(0, 0, 0, 0.75);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 311; }
  .modal > div {
    background: white;
    border-radius: 0.4rem;
    box-sizing: border-box;
    left: 50%;
    max-height: calc(100% - 1.2rem);
    max-width: 46.8rem;
    overflow: auto;
    padding: 2.4rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 1.2rem); }
  .modal .close {
    background: rgba(0, 0, 0, 0.75);
    fill: white;
    height: 4.2rem;
    width: 4.2rem;
    z-index: 311; }
    .modal .close:focus, .modal .close:hover {
      fill: red; }
    .modal .close svg {
      width: 1.8rem; }

.modal[data-modal="wifi"] {
  text-align: center; }
  .modal[data-modal="wifi"] .description {
    position: static; }
  .modal[data-modal="wifi"] .conectando {
    padding-bottom: 4.2rem;
    padding-top: 3.9rem; }
    .modal[data-modal="wifi"] .conectando span {
      animation: 1.4s linear infinite rotando;
      display: block;
      fill: #F4516C;
      height: 3rem;
      margin: 0 auto 0.9rem;
      width: 3rem; }
  .modal[data-modal="wifi"] input {
    text-align: center; }

#preview .modal > div {
  background: none;
  height: 100%;
  max-height: none;
  max-width: none;
  left: 0;
  top: 0;
  transform: none;
  width: 100%; }
  #preview .modal > div iframe {
    height: 100%;
    object-fit: contain;
    width: 100%; }

.user {
  display: none; }

.nav-responsive {
  height: 0rem;
  overflow: hidden;
  padding: 0 0.6rem;
  position: absolute;
  right: 0;
  top: 0; }
  .nav-responsive span {
    background: black;
    display: block;
    height: 0.4rem;
    position: relative;
    text-indent: 200%;
    white-space: nowrap;
    width: 2.4rem; }
    .nav-responsive span::before, .nav-responsive span::after {
      background: inherit;
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      width: 100%; }
    .nav-responsive span::before {
      top: -200%; }
    .nav-responsive span::after {
      bottom: -200%; }

@media (max-width: 47.75em) {
  #header nav {
    overflow: hidden; }
    #header nav.open li {
      height: 0rem;
      opacity: 1; }
    #header nav.open a,
    #header nav.open button {
      line-height: 0rem; }
    #header nav li,
    #header nav a,
    #header nav button {
      transition-duration: 0.6s; }
    #header nav li {
      height: 0;
      opacity: 0; }
    #header nav a,
    #header nav button {
      line-height: 0rem; } }
@media (min-width: 48em) {
  #header nav li {
    display: inline-block; }
    #header nav li + li {
      margin-left: 0rem; }

  .nav-responsive {
    display: none; } }
.pagination.shape button {
  height: 0rem;
  overflow: hidden;
  text-indent: 200%;
  white-space: nowrap;
  width: 0rem; }
.pagination .active {
  cursor: auto; }

@media print {
  * {
    box-shadow: none !important;
    color: black !important;
    text-shadow: none !important; }

  body {
    background: none !important; }

  #header,
  #footer {
    display: none !important; }

  h1, h2, h3, h4, h5, h6,
  dt,
  legend,
  th {
    page-break-inside: avoid; }

  a[href^="http"] {
    text-decoration: underline; }
    a[href^="http"]::after {
      content: " (" attr(href) ")" !important; }

  abbr[title]::after {
    content: " (" attr(title) ")"; }

  img {
    height: auto !important;
    max-width: 100% !important; } }
progress {
  background: black;
  color: red;
  display: block;
  width: 100%; }

progress::-moz-progress-bar {
  background: red; }

progress::-webkit-progress-bar {
  background: black; }

progress::-webkit-progress-value {
  background: red; }

.slideshow {
  height: inherit;
  position: relative; }
  .slideshow .slides {
    height: inherit; }
    .slideshow .slides li {
      height: inherit;
      transition: none;
      width: 100%; }
    .slideshow .slides img {
      height: 100%;
      object-fit: scale-down;
      width: 100%; }
  .slideshow .previous,
  .slideshow .next {
    height: 9.6rem;
    margin-top: -4.8rem;
    padding: 2.4rem;
    position: absolute;
    top: 50%;
    width: 9.6rem;
    z-index: 111; }
    .slideshow .previous:hover span,
    .slideshow .next:hover span {
      background: rgba(244, 81, 108, 0.9);
      fill: white; }
    .slideshow .previous span,
    .slideshow .next span {
      background: rgba(58, 60, 62, 0.75);
      border-radius: 100%;
      display: block;
      fill: #CACCCE;
      height: 100%;
      overflow: hidden; }
    .slideshow .previous svg,
    .slideshow .next svg {
      left: 0;
      position: relative;
      width: 1.2rem; }
  .slideshow .previous {
    left: 0.8rem; }
    .slideshow .previous:hover {
      left: 0; }
      .slideshow .previous:hover svg {
        left: -0.2rem; }
  .slideshow .next {
    right: 0.8rem; }
    .slideshow .next:hover {
      right: 0; }
      .slideshow .next:hover svg {
        left: 0.2rem; }

.social-media .facebook {
  background: #3B5998; }
  .social-media .facebook:focus, .social-media .facebook:hover {
    background: #4c70ba; }
  .social-media .facebook svg {
    width: 0rem; }
.social-media .feed {
  background: #FF8226; }
  .social-media .feed:focus, .social-media .feed:hover {
    background: #ff9f59; }
  .social-media .feed svg {
    width: 0rem; }
.social-media .google-plus {
  background: #DC4E41; }
  .social-media .google-plus:focus, .social-media .google-plus:hover {
    background: #e4766c; }
  .social-media .google-plus svg {
    width: 0rem; }
.social-media .instagram {
  background: #D93175; }
  .social-media .instagram:focus, .social-media .instagram:hover {
    background: #e15c92; }
  .social-media .instagram svg {
    width: 0rem; }
.social-media .linkedin {
  background: #0075B2; }
  .social-media .linkedin:focus, .social-media .linkedin:hover {
    background: #0097e5; }
  .social-media .linkedin svg {
    width: 0rem; }
.social-media .pinterest {
  background: #CB2028; }
  .social-media .pinterest:focus, .social-media .pinterest:hover {
    background: #e03e45; }
  .social-media .pinterest svg {
    width: 0rem; }
.social-media .spotify {
  background: #1DB954; }
  .social-media .spotify:focus, .social-media .spotify:hover {
    background: #2bde6a; }
  .social-media .spotify svg {
    width: 0rem; }
.social-media .tumblr {
  background: #35465C; }
  .social-media .tumblr:focus, .social-media .tumblr:hover {
    background: #485f7c; }
  .social-media .tumblr svg {
    width: 0rem; }
.social-media .twitter {
  background: #00B0ED; }
  .social-media .twitter:focus, .social-media .twitter:hover {
    background: #21c6ff; }
  .social-media .twitter svg {
    width: 0rem; }
.social-media .vimeo {
  background: #1AB7EA; }
  .social-media .vimeo:focus, .social-media .vimeo:hover {
    background: #49c6ee; }
  .social-media .vimeo svg {
    width: 0rem; }
.social-media .youtube {
  background: #FF0000; }
  .social-media .youtube:focus, .social-media .youtube:hover {
    background: #ff3333; }
  .social-media .youtube svg {
    width: 0rem; }
.social-media li {
  display: inline-block; }
  .social-media li + li {
    margin-left: 0rem; }
.social-media a {
  display: block;
  fill: white;
  height: 0rem;
  overflow: hidden;
  width: 0rem; }

svg {
  display: block;
  height: 100%;
  margin: 0 auto;
  overflow: visible;
  width: 100%; }
  svg.inline {
    display: inline-block;
    vertical-align: middle; }

.table-overflow {
  overflow-x: auto; }

.tabs .active {
  cursor: auto; }
.tabs li {
  display: block; }
.tabs button {
  color: black; }

.tabs-content {
  overflow: hidden;
  transition-duration: 0.6s; }

.tab-panel {
  display: none; }

.tooltip {
  position: relative; }
  .tooltip.top::before, .tooltip.top::after, .tooltip.bottom::before, .tooltip.bottom::after {
    left: 50%;
    transform: translateX(-50%); }
  .tooltip.right::before, .tooltip.right::after, .tooltip.left::before, .tooltip.left::after {
    top: 50%;
    transform: translateY(-50%); }
  .tooltip.top::before {
    border-top-color: black;
    top: -0.3rem; }
  .tooltip.top::after {
    bottom: calc(100% + 0.3rem); }
  .tooltip.right::before {
    border-right-color: black;
    right: -0.6rem; }
  .tooltip.right::after {
    left: calc(100% + 0.6rem); }
  .tooltip.bottom::before {
    border-bottom-color: black;
    bottom: -0.3rem; }
  .tooltip.bottom::after {
    top: calc(100% + 0.3rem); }
  .tooltip.left::before {
    border-left-color: black;
    left: -0.6rem; }
  .tooltip.left::after {
    right: calc(100% + 0.6rem); }
  .tooltip.large::after {
    text-align: center;
    white-space: normal;
    width: 25.8rem; }
  .tooltip:focus::before, .tooltip:focus::after, .tooltip:hover::before, .tooltip:hover::after {
    opacity: 1;
    visibility: visible; }
  .tooltip::before, .tooltip::after {
    opacity: 0;
    position: absolute;
    transition-duration: 0.2s;
    visibility: hidden; }
  .tooltip::before {
    border: 0.4rem solid transparent;
    content: "";
    height: 0;
    width: 0; }
  .tooltip::after {
    background: black;
    color: white;
    content: attr(data-tooltip);
    font-size: 1.1rem;
    line-height: 1.2727272727;
    padding: 0rem;
    white-space: nowrap; }

.fade-in {
  animation: 1s fade-in;
  display: block; }

.hide {
  display: none; }

.video-responsive {
  position: relative; }
  .video-responsive.ar-4-3 {
    padding-top: 75%; }
  .video-responsive.ar-16-9 {
    padding-top: 56.25%; }
  .video-responsive.ar-21-9 {
    padding-top: 42.857142%; }
  .video-responsive iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }

#c-paso-01 .actions {
  margin-top: 9.6rem;
  text-align: center; }
#c-paso-01 form {
  margin-top: 8.7rem; }
#c-paso-01 label {
  display: inline-block;
  margin: 0; }
  #c-paso-01 label + label {
    margin-left: 4.8rem; }
#c-paso-01 input:checked + span,
#c-paso-01 span:focus,
#c-paso-01 span:hover {
  background: #716ACA; }
#c-paso-01 span {
  background: #4A4C4E;
  border-radius: 100%;
  color: white;
  display: block;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 21.6rem;
  text-align: center;
  text-transform: none;
  width: 21.6rem; }
#c-paso-01 button {
  margin-left: 0; }

#brand-extras .mostrar:checked ~ .marca {
  animation: 1s fade-in;
  display: block; }
#brand-extras .marca {
  display: none; }
  #brand-extras .marca .fade-in {
    display: inline-block; }
#brand-extras .pantallas {
  margin-left: -0.8rem;
  margin-right: -0.8rem; }
  #brand-extras .pantallas legend {
    margin-bottom: -0.2rem;
    padding: 0 0.8rem; }
  #brand-extras .pantallas label {
    display: inline-block;
    height: 5.6rem;
    padding: 0.8rem;
    margin: 0;
    width: 6.8rem; }
    #brand-extras .pantallas label:hover span {
      color: rgba(244, 81, 108, 0.6);
      fill: rgba(244, 81, 108, 0.6); }
    #brand-extras .pantallas label input:checked + span {
      color: #F4516C;
      fill: #F4516C; }
  #brand-extras .pantallas span {
    color: #CACCCE;
    display: block;
    fill: #CACCCE;
    font-size: 2.4rem;
    font-weight: 400;
    height: 100%;
    line-height: 5rem;
    position: relative;
    text-align: center; }
    #brand-extras .pantallas span svg {
      left: 0;
      position: absolute;
      top: 0; }
#brand-extras .form-control.input-file {
  box-sizing: border-box; }
  #brand-extras .form-control.input-file.con-fondo .button {
    display: block; }
  #brand-extras .form-control.input-file .button {
    bottom: 1.2rem;
    display: none;
    left: 50%;
    position: absolute;
    transform: translateX(-50%); }
#brand-extras .upload.disabled .form-control.input-file {
  cursor: pointer; }
#brand-extras .upload.disabled input {
  pointer-events: none; }
#brand-extras .upload.disabled .description {
  opacity: 0; }
#brand-extras .upload.disabled .add {
  display: block; }
#brand-extras .upload.disabled label {
  opacity: 0.25; }
#brand-extras .add {
  color: #AAACAE;
  display: none;
  font-size: 1.4rem; }
  #brand-extras .add span {
    color: inherit;
    display: block;
    font-size: 9.6rem;
    font-weight: 300;
    line-height: 1;
    margin: 0 0 0.2rem; }
#brand-extras .telefono {
  border-top: 0.1rem solid #DADCDE;
  margin-top: 4rem;
  padding: 2.9rem 0 0; }
  #brand-extras .telefono .form-control {
    margin-top: 1.2rem;
    opacity: 0.5;
    pointer-events: none; }
  #brand-extras .telefono input:checked + label + input {
    opacity: 1;
    pointer-events: auto; }
#brand-extras .actions {
  margin-top: 4.8rem; }
#brand-extras .group {
  border-bottom: 0.1rem solid #BABCBE;
  margin-bottom: 2.4rem;
  padding-bottom: 2.4rem; }

@media (max-width: 47.875em) {
  .saltear-paso {
    display: none; } }
#fin {
  padding: 2.4rem 0.6rem 0; }
  #fin h2,
  #fin .actions {
    text-align: center; }
  #fin .actions {
    margin-top: 9.6rem; }

@media (max-width: 39.875em) {
  #fin .actions {
    margin-top: 4.8rem; }
  #fin .button + .button {
    margin: 2.4rem 1.2rem 0; } }
.login {
  background: url("../img/login-marker.svg") 50% 50%/auto 141vh no-repeat #d64a36;
  box-sizing: border-box;
  height: 100vh;
  padding: 6.4rem 0 0; }
  .login #header small {
    color: #AAACAE;
    display: block;
    font-size: 1.4rem;
    letter-spacing: 0.25rem;
    margin: 0.3rem 0 0;
    text-align: center;
    text-transform: uppercase; }
    .login #header small svg {
      width: 9.6rem; }
  .login .logotype {
    margin: 0 auto;
    position: static;
    transform: none;
    width: 28.8rem; }

#login {
  padding: 9.2rem 0.6rem 0;
  text-align: center; }
  #login h2 {
    font-size: 3rem;
    line-height: 1; }
  #login form {
    margin: 4.2rem auto 0;
    max-width: 33.6rem;
    width: 100%; }
    #login form div + div {
      margin-top: 6.4rem; }
  #login .form-control {
    background: none;
    border-bottom: 0.1rem solid #7A7C7E;
    border-radius: 0;
    color: #DADCDE;
    height: 3.2rem;
    font-size: 1.8rem;
    line-height: 3.2rem;
    text-align: center; }
    #login .form-control:focus, #login .form-control:hover {
      border-bottom-color: #F4516C;
      color: #FAFCFE; }
      #login .form-control:focus::placeholder, #login .form-control:hover::placeholder {
        color: #8A8C8E; }
    #login .form-control::placeholder {
      color: #DADCDE; }
  #login .actions {
    margin-top: 4.8rem;
    text-align: center; }
  #login .button {
    margin: 0 0 3.1rem; }
  #login .recover {
    color: #9A9C9E;
    display: block;
    font-size: 1.3rem;
    letter-spacing: 0.1rem; }
    #login .recover:focus, #login .recover:hover {
      color: #F4516C; }

@media (min-height: 60em) {
  #login {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%); } }
@media (max-height: 39.875em) {
  .login {
    background: #212529; } }
#preview {
  padding: 0 0.6rem; }
  #preview .previews {
    margin: 3.9rem 0 0; }
    #preview .previews .active {
      color: #F4516C;
      fill: #F4516C; }
    #preview .previews li {
      display: inline-block;
      height: 5.6rem;
      padding: 1.2rem;
      width: 6.8rem; }
    #preview .previews button {
      color: #8A8C8E;
      fill: #8A8C8E;
      font-size: 2.4rem;
      height: inherit;
      position: relative; }
      #preview .previews button:focus, #preview .previews button:hover {
        color: #F4516C;
        fill: #F4516C; }
    #preview .previews span {
      display: block;
      line-height: 5rem;
      position: absolute;
      top: 0;
      width: 100%; }
  #preview .tabs-content {
    margin: 2.8rem auto 0;
    max-width: 72rem;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%; }
    #preview .tabs-content svg {
      fill: #AAACAE;
      left: 0;
      position: absolute;
      pointer-events: none;
      top: 0; }
  #preview .tab-panel {
    padding: 0.4rem 0.4rem 13%;
    position: relative; }
  #preview .actions {
    margin-top: 6rem;
    text-align: center; }
  #preview h3,
  #preview .fullscreen {
    bottom: 8%;
    font-family: Lato, sans-serif;
    font-size: 2.4rem;
    letter-spacing: 0.1rem;
    line-height: 1;
    position: absolute;
    text-transform: uppercase; }
  #preview h3 {
    color: #8A8C8E;
    margin-right: 3rem;
    right: 50%; }
  #preview .image {
    border-radius: 7%;
    overflow: hidden;
    width: 100%; }
    #preview .image img {
      height: 100%;
      object-fit: contain;
      width: 100%; }
  #preview .fullscreen {
    color: #F4516C;
    cursor: pointer;
    margin-left: 3rem;
    left: 50%; }
    #preview .fullscreen:focus, #preview .fullscreen:hover {
      text-decoration: underline; }

@media (max-width: 39.875em) {
  #preview h3,
  #preview .fullscreen {
    bottom: 7%;
    font-size: 2.1rem; }
  #preview .image {
    border-radius: 5%; } }
@media (max-width: 29.875em) {
  #preview h3,
  #preview .fullscreen {
    display: none; }
  #preview .image {
    border-radius: 3%; } }
@media (min-width: 62em) {
  #preview .previews li {
    padding-left: 2.4rem;
    padding-right: 2.4rem; } }
#properties li {
  border-bottom: 0.1rem solid #EAECEE;
  color: #6A6C6E;
  font-size: 2.1rem;
  overflow: hidden;
  padding: 2.4rem 0 2.5rem;
  position: relative; }
  #properties li:last-child {
    border-bottom-color: #BABCBE; }
  #properties li:hover {
    color: #F4516C; }
    #properties li:hover .code {
      color: #F4516C; }
    #properties li:hover .address {
      color: #4A4C4E; }
    #properties li:hover .options {
      animation: 1s fade-in;
      display: block; }
  #properties li .code,
  #properties li .address {
    display: block; }
  #properties li .code {
    color: #9998AB;
    font-size: 1.3rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
    line-height: 2rem;
    transition-duration: 0.2s; }
    #properties li .code span {
      display: inline-block;
      position: relative;
      text-transform: uppercase; }
      #properties li .code span::before {
        content: ". ";
        position: relative;
        top: -0.4rem; }
  #properties li .address {
    color: #8A8C8E;
    font-size: 1.6rem;
    margin-top: 0.2rem; }
  #properties li .no-photos {
    color: #F4516C;
    font-size: 1.1rem;
    text-transform: uppercase; }
  #properties li div {
    margin: 0; }
#properties .aclaracion {
  color: #AAACAE;
  display: block;
  font-size: 1.2rem;
  margin: 0.6rem 0 0;
  text-align: right; }
#properties .titles {
  padding-right: 0;
  padding-top: 0;
  position: relative; }
  #properties .titles p {
    color: #716ACA;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase; }
#properties .screens {
  position: absolute;
  right: 0;
  top: 0; }
#properties .pantallas {
  margin-left: -0.8rem;
  margin-right: -0.8rem; }
  #properties .pantallas label {
    display: inline-block;
    height: 5.6rem;
    padding: 0.8rem;
    margin: 0;
    width: 6.8rem; }
    #properties .pantallas label:hover span {
      color: rgba(244, 81, 108, 0.6);
      fill: rgba(244, 81, 108, 0.6); }
    #properties .pantallas label input:checked + span {
      color: #F4516C;
      fill: #F4516C; }
  #properties .pantallas span {
    color: #CACCCE;
    display: block;
    fill: #CACCCE;
    font-size: 2.4rem;
    font-weight: 400;
    height: 100%;
    line-height: 5rem;
    position: relative;
    text-align: center; }
    #properties .pantallas span svg {
      left: 0;
      position: absolute;
      top: 0; }
#properties .all span {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.1rem; }
#properties .actions {
  margin-top: 4rem; }

@media (min-width: 48em) {
  #properties .pantallas {
    text-align: right; } }
#template {
  padding: 0 1.2rem; }
  #template .flex-wrapper {
    margin-top: 3.9rem; }
  #template .options input:checked + label img,
  #template .options label:focus img,
  #template .options label:hover img {
    filter: grayscale(0); }
  #template .options label {
    cursor: pointer;
    margin: 0; }
    #template .options label.active {
      cursor: auto; }
  #template .options img {
    border-radius: 0.4rem;
    filter: grayscale(0.75); }
  #template .preview {
    background: #5A5C5E;
    border-radius: 0.4rem;
    max-width: 100.3rem;
    min-height: 12rem;
    padding: 0.6rem;
    position: relative; }
    #template .preview::before {
      color: #2A2C2E;
      content: "PREVIEW";
      font: 300 4.8rem/1 Lato, sans-serif;
      left: 0;
      letter-spacing: 0.5rem;
      margin-top: -2.5rem;
      position: absolute;
      right: 0;
      text-align: center;
      top: 50%; }
    #template .preview li {
      border-radius: 0.4rem;
      overflow: hidden;
      position: relative; }
    #template .preview img {
      height: 100%;
      object-fit: contain;
      width: 100%; }
  #template .actions {
    text-align: center; }

@media (max-width: 86.875em) {
  #template {
    padding: 0 0.6rem; }
    #template .options {
      overflow: auto;
      white-space: nowrap; }
      #template .options li {
        display: inline-block;
        overflow: auto;
        padding: 0;
        width: 26.4rem; }
        #template .options li + li {
          margin-left: 1.2rem; }
    #template .preview {
      margin: 1.2rem auto 0;
      max-width: 96rem; } }
@media (max-width: 61.875em) {
  #template .preview::before {
    font-size: 3.6rem;
    margin-top: -1.9rem; } }
@media (min-width: 87em) {
  #template .flex-wrapper {
    display: flex;
    justify-content: center; }
  #template .options,
  #template .preview {
    display: inline-block; }
  #template .options {
    margin-right: 2.4rem;
    width: 32rem; }
    #template .options li + li {
      margin-top: 2.4rem; }
  #template .preview {
    padding: 1.2rem;
    width: 100%; } }
.wifi {
  padding: 0 2.4rem;
  text-align: center; }
  .wifi .wifis {
    background: #F4516C;
    display: inline-block;
    border-radius: 100%;
    fill: white;
    height: 9.6rem;
    width: 9.6rem; }
    .wifi .wifis svg {
      width: 4.8rem; }
  .wifi .refresh {
    background: #716ACA;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    color: white;
    fill: white;
    font-size: 1.2rem; }
    .wifi .refresh.rotate svg {
      animation: 1.4s linear infinite rotando; }
    .wifi .refresh button:focus, .wifi .refresh button:hover {
      background: #716ACA; }
    .wifi .refresh svg {
      height: 1.2rem;
      margin-left: 0.2rem;
      width: 1.2rem; }
  .wifi ul {
    background: #4A4C4E;
    border-radius: 0.4rem;
    margin-top: 2.4rem;
    position: relative; }
    .wifi ul::before {
      border: 0.6rem solid transparent;
      border-bottom-color: #716ACA;
      content: "";
      left: 50%;
      margin-left: -0.6rem;
      position: absolute;
      top: -1.2rem; }
  .wifi li {
    overflow: hidden; }
    .wifi li:last-child {
      border-bottom-left-radius: 0.4rem;
      border-bottom-right-radius: 0.4rem; }
    .wifi li + li {
      border-top: 0.1rem solid #5A5C5E; }
  .wifi button {
    color: white;
    display: block;
    font-size: 1.6rem;
    padding: 1.2rem;
    width: 100%; }
    .wifi button.connected {
      color: #40D784; }
      .wifi button.connected:focus, .wifi button.connected:hover {
        background: #40D784;
        color: white; }
    .wifi button:focus, .wifi button:hover {
      background: #F4516C; }

/*# sourceMappingURL=styles.css.map */
